nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
	position: fixed;
}
 
nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.centerMe{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
	border-style: groove;
	border-width: 10;
	font-style: serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.5em;
	background-color: yellow;
	
}
 .active{
	background-color: #4CAF50;
	color: #fff
}