body{
	font-family: fantasy, serif, sans-serif;
	background-color: pink;
}

.centerMe{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: #f1f1f1;
	position: fixed;
}
 
nav ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
}

.active{
	background-color: #4CAF50;
	color: #fff
}

h1{
	border-style: groove;
	border-width: 10;
	font-style: serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.5em;
	background-color: yellow;
	
}

h2{
	margin-left: 50px;
	margin-right: 50px;
	color: black;
	background-color: red;
	border-style: double;
	border-radius: 15px;
	border-width: 7px;
}

ol{
	font-size: 1.5em;
	font-style: fantasy;
	margin:50px;
}

.addMargin{
	display: block;
	margin-left: 50px;
	margin-right: 50px;
}